registry=https://lldigital.jfrog.io/artifactory/api/npm/npm/
registry=https://registry.npmjs.com/
_auth=bnBtZGV2czpOcG1kZXZzMTIz
email=hamzah.aljunied@lendlease.com
always-auth=true
@udp-dataplatform:registry=https://lldigital.jfrog.io/artifactory/api/npm/npm/
//lldigital.jfrog.io/artifactory/api/npm/npm/:_password="TnBtZGV2czEyMw=="
//lldigital.jfrog.io/artifactory/api/npm/npm/:username=npmdevs
//lldigital.jfrog.io/artifactory/api/npm/npm/:email=hamzah.aljunied@lendlease.com
//lldigital.jfrog.io/artifactory/api/npm/npm/:always-auth=true
@podium-ui:registry=https://lldigital.jfrog.io/artifactory/api/npm/npm/
//lldigital.jfrog.io/artifactory/api/npm/npm/:_password="TnBtZGV2czEyMw=="
//lldigital.jfrog.io/artifactory/api/npm/npm/:username=npmdevs
//lldigital.jfrog.io/artifactory/api/npm/npm/:email=hamzah.aljunied@lendlease.com
//lldigital.jfrog.io/artifactory/api/npm/npm/:always-auth=true
@podium-ui-data:registry=https://lldigital.jfrog.io/artifactory/api/npm/npm/
//lldigital.jfrog.io/artifactory/api/npm/npm/:_password="TnBtZGV2czEyMw=="
//lldigital.jfrog.io/artifactory/api/npm/npm/:username=npmdevs
//lldigital.jfrog.io/artifactory/api/npm/npm/:email=hamzah.aljunied@lendlease.com
//lldigital.jfrog.io/artifactory/api/npm/npm/:always-auth=true
@podium-ui-ds:registry=https://lldigital.jfrog.io/artifactory/api/npm/npm/
//lldigital.jfrog.io/artifactory/api/npm/npm/:_password="TnBtZGV2czEyMw=="
//lldigital.jfrog.io/artifactory/api/npm/npm/:username=npmdevs
//lldigital.jfrog.io/artifactory/api/npm/npm/:email=hamzah.aljunied@lendlease.com
//lldigital.jfrog.io/artifactory/api/npm/npm/:always-auth=true