:root{
  --palette-neutral-minus-two: #696969;
} 

.GlobalNavBar {
  box-sizing: border-box;
  padding: 12px 24px 12px 16px;
  height: 72px;
  display: flex;
  z-index: 1;
  width: 100%;
  position:fixed;
  align-items: center;
  color: #000;
  background: linear-gradient(270.35deg, #fff 73.58%, #d9f5fc 104.58%);
  box-shadow: inset 0px -0.5px 0px #bac6cb;
  transition: height 200ms;

  &.thin {
    height: 48px;
    transition: height 200ms;

    .appSwitcher,
    .logo {
      margin-right: calc(#{8px} * 1);
    }
  }

  .item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .appSwitcher,
  .logo {
    @extend .item;
    margin-right: calc(#{8px} * 2);
  }

  .businessContextSwitcher {
    @extend .item;
    border-left: 1px solid #c3c3c3;
  }

  .accountOptions {
    @extend .item;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: calc(#{8px} * 2);
    border-left: 1px solid #8c8c8c;
    gap: calc(#{"8px"} * 3);
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}
